{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sensor.css')}}" />
{% endblock %}


{% block header %}
  <h1>{% block title %}Sensors{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if data %}
    <table class="table">
      <caption>BME280 on RPI</caption>
      <thead>
        <tr>
          <th class="table__cell">id</th>
          <th class="table__cell">temperature</th>
          <th class="table__cell">humidity</th>
          <th class="table__cell">pressure</th>
          <th class="table__cell">created at (utc)</th>
        </tr>
      </thead>
      <tbody>
        {% for d in data %}
        <tr>
          <td class="table__cell">{{ d['id'] }}</td>
          <td class="table__cell">{{ d['temperature'] }}</td>
          <td class="table__cell">{{ d['humidity'] }}</td>
          <td class="table__cell">{{ d['pressure'] }}</td>
          <td class="table__cell">{{ d['created_at']|datetimeformat }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if next_url %}
    <a href="{{ next_url }}">Pev</a>
    {% endif %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Next</a>
    {% endif %}

  {% else %}
      <p>No data</p>
  {% endif %}
{% endblock %}