{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sensor.css')}}" />
{% endblock %}

{% block content %}
{% if data %}
<table class="table">
  <caption>BME280 history</caption>
  <thead>
    <tr>
      <th class="table__cell">id</th>
      <th class="table__cell">min temperature</th>
      <th class="table__cell">max temperature</th>
      <th class="table__cell">min humidity</th>
      <th class="table__cell">max humidity</th>
      <th class="table__cell">min pressure</th>
      <th class="table__cell">max pressure</th>
      <th class="table__cell">date</th>
    </tr>
  </thead>
  <tbody>
    {% for d in data %}
    <tr>
      <td class="table__cell">{{ d['id'] }}</td>
      <td class="table__cell">{{ d['min_temperature'] }}</td>
      <td class="table__cell">{{ d['max_temperature'] }}</td>
      <td class="table__cell">{{ d['min_humidity'] }}</td>
      <td class="table__cell">{{ d['max_humidity'] }}</td>
      <td class="table__cell">{{ d['min_pressure'] }}</td>
      <td class="table__cell">{{ d['max_pressure'] }}</td>
      <td class="table__cell">{{ d['date']|dateformat }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}