{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sensor.css')}}" />
{% endblock %}


{% block header %}
  <h1>{% block title %}Sensors{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if data %}
    <div class="table-wrapper">
      <table class="table">
        <caption>DHT22 Outer</caption>
        <thead>
          <tr>
            <th class="table__cell"><span>id</span></th>
            <th class="table__cell"><span>temperature-1</span></th>
            <th class="table__cell"><span>humidity-1</span></th>
            <th class="table__cell"><span>temperature-2</span></th>
            <th class="table__cell"><span>humidity-2</span></th>
            <th class="table__cell"><span>created at (utc)</span></th>
          </tr>
        </thead>
        <tbody>
          {% for d in data %}
          <tr>
            <td class="table__cell"><span>{{ d['id'] }}</span></td>
            <td class="table__cell"><span>{{ d['temperature1'] }}</span></td>
            <td class="table__cell"><span>{{ d['humidity1'] }}</span></td>
            <td class="table__cell"><span>{{ d['temperature2'] }}</span></td>
            <td class="table__cell"><span>{{ d['humidity2'] }}</span></td>
            <td class="table__cell"><span>{{ d['created_at']|datetimeformat }}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% if next_url %}
    <a href="{{ next_url }}">Pev</a>
    {% endif %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Next</a>
    {% endif %}

  {% else %}
      <p>No data</p>
  {% endif %}
{% endblock %}