{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Sensors{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if data %}
    <table class="table">
      <caption>DHT22 Outer</caption>
      <thead>
        <tr>
          <th>id</th>
          <th>temperature-1</th>
          <th>humidity-1</th>
          <th>temperature-2</th>
          <th>humidity-2</th>
          <th>date</th>
        </tr>
      </thead>
      <tbody>
        {% for d in data %}
        <tr>
          <td>{{ d['id'] }}</td>
          <td>{{ d['temperature1'] }}</td>
          <td>{{ d['humidity1'] }}</td>
          <td>{{ d['temperature2'] }}</td>
          <td>{{ d['humidity2'] }}</td>
          <td>{{ moment(d['created_at']).format('LLL') }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if prev_url %}
    <a href="{{ prev_url }}">Next</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Pev</a>
    {% endif %}
  {% else %}
      <p>No data</p>
  {% endif %}
{% endblock %}