{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css')}}" />
{% endblock %}

{% block content %}
    {% if data %}
        <div class="table-wrapper">
            <h1 class="table-title">{{ title }}</h1>
            <table class="table">
                <caption class="table__caption">
                    <nav class="table__nav nav__desktop">
                        {% include 'includes/table_nav.html' %}
                    </nav>
                </caption>
                <thead>
                    <tr>
                        {% for item in table.th %}
                            <th class="table__cell">
                                <span>{{ item|safe }}</span>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                        <tr>
                            {% for item in table.td %}
                                {% if item == 'created_at' %}
                                    <td class="table__cell">
                                        <span>{{ d[item]|datetimeformat }}</span>
                                    </td>
                                {%  elif item == 'date' %}
                                    <td class="table__cell">
                                        <span>{{ d[item]|dateformat }}</span>
                                    </td>
                                {% else %}
                                    <td class="table__cell">
                                        <span class="data">{{ d[item] }}</span>
                                    </td>   
                                {% endif %}         
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <nav class="table__nav nav__mobile">
            {% include 'includes/table_nav.html' %}
        </nav>
    {% else %}
        <p>No data</p>
    {% endif %}
{% endblock %}