{% macro get_item(title, link, prefix, box_list) %}
<article class="article">
  <a href="{{ url_for(link)}}" class="box__link">
    <h3>{{ title }}</h3>
  </a>
    <div class="wrapper box-wrapper">
        {% for el in box_list %}
        <div class="box">
          <svg aria-hidden="true" width="30" height="30">
            <use xlink:href="#{{ el.data }}-icon" class="sensor-icon--{{ el.data }}" />
          </svg>
          <div class="box__content">
            <div class="box__title">{{ el.dataName|safe }}</div>
            <div class="box__data box__data--{{ el.data }}" id="{{ prefix }}-{{ el.data}}"></div>
          </div>
        </div>
        {% endfor %}
    </div>
</article>
{% endmacro %}

