<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to Meteo</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-dev.ico') }}">
  </head>
  <body>
    <div class="container">
      {% include 'includes/header.html' %}
      {% block content %}{% endblock %}
      {{ moment.include_moment() }}
    </div>
  </body>
</html>