<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Meteo</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css')}}" />
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-dev.ico') }}">
      <script src="{{ url_for('static', filename='js/header.js') }}" defer></script>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="full-width">
        <div class="wrapper-inner">
          {% include 'includes/header.html' %}
        </div>
      </div>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
      <div class="full-width">
        <div class="wrapper-inner">
          {% include 'includes/footer.html' %}
        </div>
      </div>
    </div>
  </body>
</html>