{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}" />
{% endblock %}


{% block content %}
    <h1>Текущие данные датчиков</h1>
    {% include 'includes/icons_sensor.html' %}
    {% import 'includes/sensor_home.html' as sensor %}

    {% for prefix in prefix_list %}
        {% if prefix=='rpi' %}
        {{ sensor.get_item('BME280 RPI', 'sensor.bme280_rpi',  'rpi', bme_list) }}
        {% elif prefix=='bme' %}
        {{ sensor.get_item('BME280 ESP8266', 'sensor.bme280_outer', 'bme', bme_list) }}
        {% elif prefix=='dht1' %}
        {{ sensor.get_item('DHT22 1 ESP8266', 'sensor.dht22_outer', 'dht1', dht_list) }}
        {% elif prefix=='dht2'  %}
        {{ sensor.get_item('DHT22 2 ESP8266', 'sensor.dht22_outer', 'dht2', dht_list) }}
        {% endif %}
    {% endfor %}

    <div id="chart"></div>

    <script src="{{ url_for('static', filename='vendor/socket.io.min.js') }}" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/sensor.js') }}"></script>
{% endblock %}